dbt-core>=1.9.0,<1.10
dbt-adapters>=1.10,<2.0
dbt-tests-adapter>=1.10,<2.0
clickhouse-connect>=0.7.6
clickhouse-driver>=0.2.7
pytest>=7.2.0
pytest-dotenv==0.5.2
black==24.3.0
isort==5.10.1
mypy==0.991
yamllint==1.26.3
types-requests==2.27.29
agate~=1.7.1
requests~=2.27.1
setuptools>=69.2.0
types-setuptools>=69.2.0