dbt-core==1.2.1
clickhouse-connect>=0.2.5
clickhouse-driver>=0.2.3
pytest==7.0.0
pytest-dotenv==0.5.2
dbt-tests-adapter==1.2
black==22.3.0
isort==5.10.1
mypy==0.960
yamllint==1.26.3
flake8==4.0.1
types-requests==2.27.29