dbt-core~=1.5.8
clickhouse-connect>=0.6.21
clickhouse-driver>=0.2.6
pytest>=7.2.0
pytest-dotenv==0.5.2
dbt-tests-adapter~=1.5.8
black==22.3.0
isort==5.10.1
mypy==0.991
yamllint==1.26.3
flake8==4.0.1
types-requests==2.27.29
agate~=1.6.3
requests~=2.27.1
setuptools~=65.3.0
types-setuptools==67.1.0.0