[tool.black]
line-length = 100
skip-string-normalization = true
target-version = ['py38', 'py39']
exclude = '(\.eggs|\.git|\.mypy_cache|\.venv|venv|env|_build|build|build|dist|)'

[tool.isort]
line_length = 100
profile = "black"
use_parentheses = true
skip = '.eggs/,.mypy_cache/,.venv/,venv/,env/'

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "WARNING"
